@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
  color: #1F2937;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.leaflet-container {
  z-index: 0 !important;
}
